body{
    background-color:greenyellow;
    background-image: url("images/wallpapersden.com_obito-uchiha-cool-4k_wxl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align:center;
    text-emphasis-color: red;
    background-color:blue;
}
p{
    text-align: right;
    background-color: green;
    font-family: cursive;
}
.row{
    text-align: right;
    background-color: chartreuse;
}
.column{
    text-align: left;
    background-color: chocolate;
}
